<h1 class="text-center">About</h1>
<div class="text-center">ながのCAKEは全国発送可能なケーキ屋さんです。</div>
<div class="text-center">お子様からお年寄りの方までお召し上がりいただけるように、</div>
<div class="text-center">様々なバリエーションをご用意しております。</div>
<div class="text-center">また全国へ発送可能ですので「いつ」でも「どこ」でも注文いただけます。</div>
<div class="text-center">ぜひご注文ください。</div>